#timeline {
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 100%;
  border: 2px solid black;
  background-color: white;
}

#side-profile {
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 30%;
  border: 2px solid black;
  background-color: white;
  float-right: 10px;
}

#suggestions {
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 20%;
  border: 2px solid black;
  background-color: white;
}

#settings {
    margin: 5px 5px 5px 5px;
    border: 2px solid black;
    background-color: white;
}

body{
  background-color: lightblue;
}