<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheet/home.css">
    <meta charset="UTF-8">
    <title>Home</title>

    <% include ./nav %>
</head>
<body>

<div class="row">
    <div class="col-xs-3" id="side-profile">
        <% include ./profile_tab_home %>
    </div>
    <div class="col-sm-6 timeline">
        <% include ./home_timeline %>
    </div>
    <div class="col-sm-2" id="suggestions">
        <p> Suggestions</p>
        <% include ./suggestions %>
    </div>
</div>

</body>
</html>