<link rel="stylesheet" href="/public/stylesheet/nav.css">
<div class="masthead">
    <h3 class="text-muted">Brett's Social Site</h3>
    <form method="post" action="/users/search">
        <input type="text" name="search" placeholder="Search.." id="search">
    </form>
    <nav>
        <ul class="nav nav-justified">
            <li class="nav-bar" id="home-button"><a href="/users/home/">Home</a></li>
            <li class="nav-bar" id="explore_button"><a href="#">Explore</a></li>
            <li class="nav-bar" id="profile_button"><a href="/users/profile/<%= theUser.username%>">Profile</a></li>
            <li class="nav-bar" id="Notifications"><a href="#">Notifications</a></li>
            <li class="nav-bar" id="settings_button" onclick="settings()"><a href="/users/settings">Settings</a ></li>
            <li class="nav-bar" id="logout_button" onclick="logout()"><a href="#">Sign-out</a></li>
        </ul>
    </nav>
</div>